.idea/
.pytest_cache/
.venv/
__pycache__/
frontend/node_modules/
frontend/dist/
node_modules/
*.py[cod]
*.pyo
*.pyd
*.log

logs/
outputs/
.vercel_python_packages/

uv.lock
*.csv
.git/
.DS_Store
Thumbs.db
.vercel
.env*.local
